body {
    background-color: #d4e6f1;
}

.container-custom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;
}

.info {
    max-width: 700px;
    text-align: left;
}
.info h1 {
    margin-bottom: 80px;
}

.info a {
    margin-top: 30px;;
}

.download-button {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.download-button i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.app-preview {
    width: 300px;
    height: 600px;
    margin:40px;
}

@media (max-width: 768px) {
    .container-custom {
        flex-direction: column;
        text-align: center;
    }

    .app-preview {
        margin-top: 20px;
        width: 100%;
        max-width: 350px;
    }

    .download-button {
        width: 100%;
        justify-content: center;
    }

    #button-Download-lg {
        display: none;
    }

    #button-Download-sm {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

}